<div class="hidden" id="coordinates" data-lng="<%= @danger.coordinates[1] %>" data-lat="<%= @danger.coordinates[0] %>"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <br>
    <a href="/">Back</a>

    <h1>Danger</h1>

    <div class="row">
      <div class="col-md-4 text-right" style="font-weight:bold">Name</div>
      <div class="col-md-4"><%= @danger.name %></div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right" style="font-weight:bold">Time</div>
      <div class="col-md-4"><%= l @danger.created_at %></div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right" style="font-weight:bold">Level</div>
      <div class="col-md-4"><%= "#{@danger.level_human} (#{@danger.level})" %></div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right" style="font-weight:bold">Address</div>
      <div class="col-md-4"><%= @danger.address %></div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right" style="font-weight:bold">Coordinates</div>
      <div class="col-md-4"><%= @danger.coordinates %></div>
    </div>

    <hr>

    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 600px;'></div>
    </div>

    <br>

  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
